<div class="user-content" id="user-content">
  <table>
    <thead>
      <tr>
        <td>Product</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{#each model as |registration|}}
        <tr>
          <td>{{registration.displayName}}</td>
          {{#if registration.apiKey}}
            <code>{{registration.apiKey}}</code>
          {{else if registration.enabled}}
            <button {{action "showApiKey" registration.product}} class="btn">Show API key</button>
          {{else}}
            <button {{action "createApiKey" registration.product}} class="btn">Generate API key</button>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

