<div class="apim-credential">
  <div class="credential-header">
    <div class="credential-title">
      {{credential.displayName}}
    </div>
  </div>
  <div class="credential-action">
    {{#if credential.apiKey}}
      <code>{{credential.apiKey}}</code>
    {{else if credential.enabled}}
      <button {{action "showApiKey"}} class="btn">Show API key</button>
    {{else}}
      <button {{action "createApiKey"}} class="btn">Generate API key</button>
    {{/if}}
  </div>
  {{#if credential.usage.length }}
    <div class="credential-usage">
      <div class="credential-usage-this-month credential-stat">
        <div class="credential-stat-number">
          {{credential.callsThisMonth}}
        </div>
        <div class="credential-stat-description">
          calls this month
        </div>
      </div>
      <div class="credential-usage-last-year">
        {{#usage-chart data=credential.usage}}
        {{/usage-chart}}
      </div>
    </div>
  {{/if}}
</div>
